<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="tools,front-end">
    <meta name="description" content="我的个人练习项目，在线工具">
    <meta name="author" content="汪文鹏,wwpeng520@gmail.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/Tools.ico">
    <title>HTML/CSS/JS格式化</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/mybeautify.css">
</head>
<body>
    <%- include('./_header.html'); %>
    <div class="container" id="headContainer">
        <div class="page-header">
            <h6>HTML/CSS/JS格式化</h6>
        </div>
    </div>

    <div class="container" id="bodyContainer">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>输入</p>
                <textarea class="textarea-class" id="enterArea">在此区域输入要格式化的代码</textarea>
            </div>
            <ul class="col-sm-2 col-md-2 col-lg-2">
                <li><button type="button" class="btn btn-inverse" id="htmlBeautify">HTML格式化</button></li>
                <li><button type="button" class="btn btn-inverse" id="cssBeautify">CSS格式化</button></li>
                <li><button type="button" class="btn btn-inverse" id="jsBeautify">JS格式化</button></li>
            </ul>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>格式化结果</p>
                <textarea class="textarea-class" id="outArea"></textarea>
            </div>

        </div>
    </div>

    <%- include('./_footer.html'); %>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="/js/mybeautify.js"></script>
</body>
</html>