<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="tools,front-end">
    <meta name="description" content="我的个人练习项目，在线工具">
    <meta name="author" content="汪文鹏,wwpeng520@gmail.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/Tools.ico">
    <title>Xmorse 摩斯密码</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/myxmorse.css">
</head>
<body>
    <%- include('./_header.html'); %>

    <div class="container" id="headContainer">
        <div class="page-header">
            <h6>摩斯密码</h6>
        </div>
    </div>

    <div class="container" id="bodyContainer">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>字符</p>
                <textarea class="textarea-class" id="textArea">在此区域输入要编码的字符</textarea>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <ul>
                    <li><button type="button" class="btn btn-inverse" id="xmorseEncode">xmorse编码&nbsp;&gt;</button></li>
                    <li><button type="button" class="btn btn-inverse" id="xmorseDocode">&lt;&nbsp;xmorse解码</button></li>
                </ul>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>xmorse密码</p>
                <textarea class="textarea-class" id="xmorseArea">xmorse密码区</textarea>
            </div>

        </div>
    </div>
    <%- include('./_footer.html'); %>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js"></script>
<script src="/js/xmorse.min.js"></script>
<script src="/js/myxmorse.js"></script>
</body>
</html>