ul{
    list-style: none;
}
li{
    display: inline-block;
}
#headContainer{
    margin-top: 20px;
}
#bodyContainer{
    position: relative;
    padding: 0 30px 50px 30px;
}
[class*=col-]{
    height: 350px;
    margin-right: 30px ;
}
.utf-class{
    border: 1px solid #ccc;
    height: 320px;
    width: 100%;
    position: absolute;
    left: 0;
    font-size: 14px;
}
#bodyContainer p{
    font-size: 16px;
    margin: 0;
}
button{
    margin: 15px 1px;
}
@media only screen and (max-width: 767px) {
	#headContainer {
		margin-left: 2%;
	}
	#headContainer h3 {
		font-size: 16px;
	}
	[class*=col-]{
	    height: 28vh;
	    margin-right: 30px ;
	}
	#bodyContainer p{
	    font-size: 13px;
	}
	.utf-class{
	    height: 24vh;
	    font-size: 12px;
	}
	#utfBtn .btn {
		font-size: 12px;
		padding: 2px;
		margin: 10px 2px 2px 2px;
	}
}
