ul{
    list-style: none;
    text-align: center;
}
li{
    display: inline-block;
}
#headContainer{
    margin-top: 20px;
}
#bodyContainer{
    position: relative;
    padding: 0 30px 50px 30px;
}
.col-sm-5{
    height: 400px;
}
.textarea-class{
    border: 1px solid #ccc;
    height: 350px;
    width: 100%;
    position: absolute;
    left: 0;
    font-size: 14px;
}
.col-sm-2{
    margin-top: 40px;
}
.col-sm-2 .btn{
    margin: 10px 0;
    width: 100px;
    padding: 10px 0;
}
ul li .btn{
	padding: 5px 10px;
	/*width: 125px;*/
	font-size: 15px;
	border: 1px solid #999;
}
@media only screen and (max-width: 767px) {
	#headContainer {
		margin-left: 2%;
	}
	#headContainer h3{
		font-size: 16px;
	}
	#bodyContainer{
		margin: 0;
	}
	#enterArea,#outArea{
		font-size: 13px;
	}
	.col-sm-5{
	    height: 200px;
	}
	.textarea-class{
	    height: 200px;
	}
	.col-sm-2 .btn{
	    width: 80px;
	}
	ul{
		text-align: left;
	}
	ul li .btn{
		font-size: 12px;
	}
}