<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ./part/_head.html %>
    <title>HTML/CSS/JS格式化</title>
    <link rel="stylesheet" href="/css/mybeautify.css">
</head>
<body>
    <%- include('./part/_header.html'); %>
    <div class="container" id="headContainer">
        <div class="page-header">
            <h3>HTML/CSS/JS格式化</h3>
        </div>
    </div>

    <div class="container" id="bodyContainer">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>
                	<svg class="icon" aria-hidden="true">
					  	<use xlink:href="#icon-iconfontyoujiantou"></use>
					</svg>
					输入
                </p>
                <textarea class="textarea-class" id="enterArea">在此区域输入要格式化的代码</textarea>
            </div>
            <ul class="col-sm-2 col-md-2 col-lg-2">
                <li><button type="button" class="btn btn-inverse" id="htmlBeautify">HTML格式化</button></li>
                <li><button type="button" class="btn btn-inverse" id="cssBeautify">CSS格式化</button></li>
                <li><button type="button" class="btn btn-inverse" id="jsBeautify">JS格式化</button></li>
            </ul>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>
                	<svg class="icon" aria-hidden="true">
					  	<use xlink:href="#icon-iconfontyoujiantou"></use>
					</svg>
					格式化结果
                </p>
                <textarea class="textarea-class" id="outArea"></textarea>
            </div>

        </div>
    </div>

    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="/js/mybeautify.js"></script>
</body>
</html>