<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ./part/_head.html %>
    <title>中文|Unicode|UTF-8相互转换,URL编码/解码</title>
    <link rel="stylesheet" href="/css/chinese2code.css">
</head>
<body>

    <%- include('./part/_header.html'); %>
    <div class="container" id="headContainer">
        <div class="page-header">
            <h3>中文 Unicode UTF-8相互转换，URL编码/解码</h3>
        </div>
    </div>

    <div class="container" id="bodyContainer">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <p>
                	<svg class="icon" aria-hidden="true">
					  	<use xlink:href="#icon-iconfontyoujiantou"></use>
					</svg>
                	输入框
                </p>
                <textarea name="utf8-area" class="utf-class" id="enterArea">点击转换按钮之前请输入相应格式的字符</textarea>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-md-5 col-lg-5">
                <p>
                	<svg class="icon" aria-hidden="true">
					  	<use xlink:href="#icon-iconfontyoujiantou"></use>
					</svg>
					转换结果
                </p>
                <textarea name="utf16-area" class="utf-class" id="outArea">在此输出结果</textarea>
            </div>
            <div class="btn-group">
                <ul class="" id="utfBtn">
                    <li><button type="button" class="btn btn-inverse" id="chinese2Utf8">中文转UTF-8</button></li>
                    <li><button type="button" class="btn btn-inverse" id="chinese2Unicode">中文转Unicode</button></li>
                    <li><button type="button" class="btn btn-inverse" id="ascii2Unicode">ASCII转Unicode</button></li>
                    <li><button type="button" class="btn btn-inverse" id="unicode2ascii">Unicode转ASCII</button></li>
                    <li><button type="button" class="btn btn-inverse" id="unicode2Chinese">Unicode转中文</button></li>
                    <li><button type="button" class="btn btn-inverse" id="urlEncode">url编码</button></li>
                    <li><button type="button" class="btn btn-inverse" id="urlDocode">url解码</button></li>

                </ul>
            </div>
        </div>
    </div>

    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
<script src="/js/chinese2code.js"></script>
</body>
</html>