<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <% include ./part/_head.html %>
    <title>中文分词和词频统计用户查询历史</title>
    <link rel="stylesheet" href="/css/cwhistory.css">
</head>
  <body>
    <%- include('./part/_header.html'); %>
    <div class="container" id="headContainer">
        <div class="page-header">
            <h3>中文分词和词频统计用户查询历史</h3>
        </div>
    </div>
    <div class="container" id="hisDisplay">
        <%-tab%>
    </div>
    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
</body>
</html>