<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ./part/_head.html %>
    <title>计算文件Hash值</title>
    <link rel="stylesheet" href="/css/file-hash.css">
</head>
<body>
    <%- include('./part/_header.html'); %>
    <div class="container" id="pageHeader">
        <div class="page-header">
            <h3>计算文件Hash值</h3>
        </div>
    </div>

    <div class="container" id="pageContent">
        <p>
        	<svg class="icon" aria-hidden="true">
			  	<use xlink:href="#icon-iconfontyoujiantou"></use>
			</svg>
			计算本地文件的MD5值
        </p>
        <div id="hashContent">
            <input type="file" id="files" name="files[]" multiple>
            <hr>
            <output id="list"></output>
        </div>
        <table id="hashTable">
            <tr>
                <th>项目</th>
                <th>值</th>
            </tr>

        </table>

    </div>
    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/2.0.2/spark-md5.min.js"></script>
<script src="/js/cryptojs/rollups/aes.js"></script>
<script src="/js/file-hash.js"></script>
</body>
</html>