<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="tools,front-end">
    <meta name="description" content="我的个人练习项目，在线工具">
    <meta name="author" content="汪文鹏,wwpeng520@gmail.com">
    <link rel="shortcut icon" href="/img/Tools.ico">
    <title>计算文件Hash值</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/file-hash.css">
</head>
<body>
    <%- include('./_header.html'); %>
    <div class="container" id="pageHeader">
        <div class="page-header">
            <h3>计算文件Hash值</h3>
        </div>
    </div>

    <div class="container" id="pageContent">
        <p>
        	<svg class="icon" aria-hidden="true">
			  	<use xlink:href="#icon-iconfontyoujiantou"></use>
			</svg>
			计算本地文件的MD5值
        </p>
        <div id="hashContent">
            <input type="file" id="files" name="files[]" multiple>
            <hr>
            <output id="list"></output>
        </div>
        <table id="hashTable">
            <tr>
                <th>项目</th>
                <th>值</th>
            </tr>

        </table>

    </div>
    <%- include('./_footer.html'); %>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/iconfont.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/2.0.2/spark-md5.min.js"></script>
<script src="/js/cryptojs/rollups/aes.js"></script>
<script src="/js/base.js"></script>
<script src="/js/file-hash.js"></script>
</body>
</html>