<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ./part/_head.html %>
    <title>HTML转义</title>
    <link rel="stylesheet" href="/css/html-escape.css">
</head>
<body>
    <%- include('./part/_header.html'); %>

    <div class="container" id="htmlEscapeHeader">
        <div class="page-header">
            <h3>HTML转义字符</h3>
        </div>
    </div>

    <div class="container" id="escapeContent">
        <div>
            <p>
            	<svg class="icon" aria-hidden="true">
				  	<use xlink:href="#icon-iconfontyoujiantou"></use>
				</svg>
				输入要转换的HTML代码：
            </p>
            <textarea name="htmlArea" id="htmlArea">
&lt;p&gt;在输入框内粘贴你需要转换的HTML代码&lt;/p&gt;
&lt;p&gt;HTML转义，可以将HTML代码转换为HTML转义字符串&lt;/p&gt;</textarea>
            <button type="button" class="btn btn-inverse" id="escape">HTML转义(escape)</button>
            <button type="button" class="btn btn-inverse" id="unescape">HTML反转义(unescape)</button>
        </div>
        <div id="textareaOut">
            <p>
            	<svg class="icon" aria-hidden="true">
				  	<use xlink:href="#icon-iconfontyoujiantou"></use>
				</svg>
				转换结果：
            </p>
            <textarea name="htmlEscapeArea" id="htmlEscapeArea"></textarea>
        </div>

    </div>
    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
<script src="/js/html-escape.js"></script>
</body>
</html>