<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ./part/_head.html %>
    <title>IP查询</title>
    <link rel="stylesheet" href="/css/ip-inquire.css">
</head>
<body>

    <%- include('./part/_header.html'); %>

    <div class="container" id="content">
        <div class="input-group col-lg-8 col-md-8 col-sm-10 col-xs-12">
            <input type="text" class="form-control" id="ipEnter" placeholder="输入您要查询的IP">
            <span class="input-group-btn">
                <button class="btn btn-default" id="getIpInfo" type="button">查询</button>
            </span>
        </div>
        <div id="tabHeader">您的地理信息：</div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>类别</th>
                <th>详细信息</th>
            </tr>
            <tr>
                <td>IP</td>
                <td id="tab_ip"></td>
            </tr>
            <tr>
                <td>地址</td>
                <td id="tab_addr"></td>
            </tr>
            <tr>
                <td>经度</td>
                <td id="tab_longitude"></td>
            </tr>
            <tr>
                <td>纬度</td>
                <td id="tab_latitude"></td>
            </tr>
        </table>
    </div>
    

    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
<script src="/js/ip-inquire.js"></script>
</body>
</html>