<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ./part/_head.html %>
    <title>Xmorse 摩斯密码</title>
    <link rel="stylesheet" href="/css/myxmorse.css">
</head>
<body>
    <%- include('./part/_header.html'); %>

    <div class="container" id="headContainer">
        <div class="page-header">
            <h3>摩斯密码</h3>
        </div>
    </div>

    <div class="container" id="bodyContainer">
        <div>
            <div class="chars">
                <p>
                	<svg class="icon" aria-hidden="true">
					  	<use xlink:href="#icon-iconfontyoujiantou"></use>
					</svg>
					字符
                </p>
                <textarea class="textarea-class" id="textArea">在此区域输入要编码的字符</textarea>
            </div>
            <div class="btn-area">
                <ul>
                    <li>
                    	<button type="button" class="btn btn-inverse" id="xmorseEncode">
	                    	xmorse编码
	                    	<span class="sm-hidden"> &gt;</span>
	                    	<svg class="icon  sm-show" aria-hidden="true">
							  	<use xlink:href="#icon-xiangshangjiantou"></use>
							</svg>
	                    </button>
                    </li>
                    <li>
                    	<button type="button" class="btn btn-inverse" id="xmorseDocode">
	                    	<span class="sm-hidden">&lt; </span>xmorse解码
	                    	<svg class="icon sm-show" aria-hidden="true">
							  	<use xlink:href="#icon-xiangxiajiantou"></use>
							</svg>
	                    </button>
                    </li>
                </ul>
            </div>
            <div class="codes">
                <p>
                	<svg class="icon" aria-hidden="true">
					  	<use xlink:href="#icon-iconfontyoujiantou"></use>
					</svg>
					xmorse密码
                </p>
                <textarea class="textarea-class" id="xmorseArea">xmorse密码区</textarea>
            </div>

        </div>
    </div>
    <%- include('./part/_footer.html'); %>
<% include ./part/_script.html %>
<script src="/js/xmorse.min.js"></script>
<script src="/js/myxmorse.js"></script>
</body>
</html>